@model IEnumerable<HDILT.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
			<td>
				@if (item.LeftFile != null)
				{
					<img src="~/File?id=@item.LeftFile.Id" alt="avatar" height="100" />
				}
			</td>
			<td>
				@if (item.RightFile != null)
				{
					<img src="~/File?id=@item.RightFile.Id" alt="avatar" height="100" />
				}
			</td>
		<td>
			@Html.ActionLink("Vote Left", "Vote", new { value = 0, id = item.Id }) |
			@Html.ActionLink("Vote Right", "Vote", new { value = 1, id = item.Id })
		</td>			
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
	
}

</table>
